<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fopinit</name>
	<displayName><![CDATA[Fop Intialization]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Easy way to launch your Ecommerce Solidaire shop]]></description>
	<author><![CDATA[FOP - StoreCommander]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
